<div class="card pointer" [routerLink]="['/videos', video.id]">
  <img [src]="video.thumbnail_url | sizedImage: '440': '248'" class="card-img p-2" [alt]="video.title">
  <div class="card-body py-2">
    <h6 class="card-title text-truncate" [title]="video.title">{{video.title}}</h6>
    <p>Duration: {{video.duration}}</p>
  </div>
</div>
