<div class="container-fluid px-0">
  <app-header class="row bg-white col-12 py-2 shadow no-gutters sticky-top"></app-header>
  <div class="d-flex col-12 p-0">
    <app-sidenav class="col-2 col-sm-1 col-lg-3"></app-sidenav>
    <div class="col-10 col-sm-11 col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
